.main{
  background: #0d253f;
  display: flex;
  flex-wrap: wrap;
  color: rgb(255, 165, 0);
}
a{
  text-decoration: none;
  color: rgb(255, 165, 0);
}
li{
  list-style-type: none;
}
.header{
  margin-left: 35px;
  display: flex;
  height: 100px;
  width: 95%;
  margin-bottom: 150px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
}
.left_header{
  width: 20%;
}
.center_header{
  width: 45%;
}
.right_header{
  margin-top: 8px;
  padding-left: 150px;
  width: 30%;
}
.left_bar{
  width: 18%;
  font-size: 25px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  margin-left: 40px;
}
.right_bar{
  width: 75%;
  margin-left: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home_img{
  margin-left: 70px;
  margin-top: 20px;
  width: 50px;
  height: 50px;

}
.poster_preview{
  position: absolute;
  width: 85%;
  height: 150px;
  margin-left: 110px;
  margin-top: 90px;
  background: lightslategray;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;

}

